<div class="container-fluid g-8 p-2">
  <div class="row g-0">
    <div class="col-md-2">
        <img src="../../assets/Images/" alt="profile Image" class="profile">
    </div>
    <div class="col ps-2">
    <div class="row g-0">
        <div class="col-md-10">
            <span class="name">Rohit Sharma</span>
        </div>
         <div class="col-md-2">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-success">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
            </div>
         </div>
          <div class="row g-0 mt-3">
        <div class="col-md">
            <table>
                <thead>
                    <tr><td colspan="2">Personal Deatils</td></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Birthdate</td>
                        <td>22/09/2020</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>Male</td>
                    </tr>
                    <tr>
                        <td>Education</td>
                        <td>Phd</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
